
body{
    background-color:#d2d2de
}

.container{
    width: 98%;
    background-color: white;
    margin:0 auto;
}

.h-title{
    height: 100px;
    border-top: 5px solid blue;
    position: relative;
}

.h-title .h-logo{
    width:300px;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.h-nav{
    border-top:1px solid #d2d2d2;;
}

.h-menu{
    letter-spacing: -.4em;
}

.h-list{
    display: inline-block;
    width: calc(100%/6);
    position: relative;
    letter-spacing: normal;
    height: 64px;
    border-right: 1px solid #d2d2d2;
    box-sizing: border-box;
    vertical-align: bottom;
}

.h-list:hover .h-l-top{
    color: blue;
}

.h-list:hover{
    background-color: #e6ebfa;
}

.h-list:hover .h-l-box::before{
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: blue;
    left: 4px;
}
   

 .h-l-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}

.h-l-top{
    font-size: 15px;
    color: #666666;;
    margin-bottom: 4px;
}

.h-l-bottom{
    font-size: 10px;
    color: #bababa;
    margin-bottom: 4px;
    text-align: center;
}

.active{
    background-color: #e6ebfa;
}

.active .h-l-box::before{
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: blue;
    left: 4px;
}

.active .h-l-top{
    color: blue;
}

.h-image{
    max-width: 100%;
    height: auto;
}

.contents{
    padding:24px;
}

.main{
    float: left;
    width:70%
}

.m-section{
    color: #666666;
    margin-bottom: 24px;
}

.m-info-date{
    float: left;
    padding: 8px 32px 8px 0;
    color: blue;
}

.m-info-content{
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.m-info-new{
    background-color: red;
    font-size: 11px;
    color: white;
    padding:2px 4px;
    border-radius: 4px;
}

.m-log{
    text-align: right;
    padding-top: 24px;
}

.m-log a{
    color:#666666
}

.m-h2{
    background-color: blue;
    color: white;
    padding: 14px 12px 14px 24px;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 24px;
}

.m-h2::first-letter{
    border-left: 3px solid #8e9eef;
    padding-left: 16px;
}

.side{

    float: none;
    width: auto;
}

.s-framebox{
    padding: 10px;
    border:1px solid #ccc;
    background: #f4f4f4;
    margin-bottom: 24px;
    color: #666666;
}

.s-box{
    margin-bottom: 24px;
    color: #666666;
}


.s-h4{
    padding: 28px 10px;
    border-top: 5px solid blue;
    background: #eeeeee;
    color: #666666;
    border-bottom:1px solid #d2d2d2;
}

.s-list{
    border-bottom:1px solid #d2d2d2;
    padding: 15px;
    overflow: hidden;
}

.s-list:hover {
    background-color: white
}

.s-list a{
    text-decoration: none;
    color: #666666;
}

.s-list:hover a{
    color: blue;
}

.s-img{
    float: left;
    width: 20%;
    margin-right: 5px;
}

.s-l-title{
    color: blue;
    font-size: 11px;
}

.s-l-description{
    font-size: 11px;
}

.s-company-title{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}

.s-company-info{
    font-size: 11px;
    text-align: center;
    line-height: 1.5;
}

.footer a:hover{
    color:blue
}

.footer{
    clear: both;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 13px;  
    padding: 16px 0;  
    line-height: 2;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer-under{
    font-size: 12px;
}

@media screen and(max-width:780px){

    body{
        font-size: 12px;
        line-height: 1.5;
    }

    .container{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
        font-size: 100px;
    }

    .main{
        float: none;
        width: auto;
    }
    .side{
        float: none;
        width: auto;
    }
    .m-h2, .m-h3{
        font-size: 16px;
        padding: 7px 6px 7px 8px;
    }

}
